body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
  }
  
:root {
    --light-blue: #328eff;
    --darker-blue: #0e5eff;
}

a {
    text-decoration: none;
    font-weight: bold;
}

#navbar-logo {
    height: 5%;
    aspect-ratio: 1/1;
}


.navbar {
    display: flex;
    padding: 13px 0 3px;
    margin: 0 10%;
    justify-content:space-around;
}

.navbar-button {
    color: #000;
    font-size:x-large;
    text-align: center;
    padding: 10px 50px;
    transition-property: background-color;
    transition-duration: 0.25s;
    background-color: var(--light-blue);
} 
#active-page {
    background-color: var(--darker-blue);
}


.navbar-button:hover {
    background-color: var(--darker-blue);
}


.line {
    width: 90%;
    height: 5px;
    background-color: #000;
    margin: 2.5% 5%;
    border-radius: 2.5px;
}


#item-picker {
    display: inline-flex;
    background-color: #009efa;
    width: 12vw;
    height: 80vh;
    margin: 2%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
}

#right-side {
    display: inline-flex;
    width: 78vw;
    height: 80vh;
    margin: 2%;
    align-items: left;
    flex-direction: column;
}

label,input {
    width: 10%;
    display: inline;
}

#drawing-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    /* grid-template-areas: ". . . . . . . . ." ". . . . . . . . ." ". . . . . . . . ." ". . . . . . . . ."; */
    background-color: whitesmoke;
    width: 78vw;
    height: 65vh;
    margin: 1.5%;
    border: gray 4px solid;
}

#drawing-area > div {
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    overflow: hidden;
}

.item-spawner {
    display: inline-flex;
    background-color: #fa0000;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
}

.ghost-item {
    display: absolute;
}

.seat {
    text-align: center;
    padding: 20% 0;
}

.buttons {
    background-color: #00ff00;
    width: 20vh;
    height: 5vh;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons:hover {
    background-color: #2fff00;
}

.saves-dropdown {
    position: relative;
    display: inline-block;
}

.saves-dropdown-content {
    display: none;
    position: static;
    background-color: #e40303;
    border: 1px solid #000;
    min-width: 100px;
    min-height: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: block;
}


#saved-classes-container {
    display: inline-flex;
    flex-direction: column;
    background-color: #009efa;
    /* width: 20vh; */
    height: 75vh;
    margin: 0 7%;
    cursor: pointer;
}

#create-class-form-conatiner {
    background-color: red;
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    align-items: left;
}

#create-class-form > * {
    margin: 10px;
    ;
}

#delete-class {
    background-color: #fa0000;
    display: none;
}