body {
    margin: 0;
    background-image: url("../images/background.png");
    font-family: "Edu TAS Beginner", cursive;
    font-style: normal;
}

/* Hides the ugly built in scrollbar */
body::-webkit-scrollbar { /* might not work in all bowsers */
    display: none;
}
 
:root {
    --green: #00ff00;
    --darker-green: #aaff00;
    --blue: #009efa;
    --darker-blue: #013a5c;
    --orange: #ffbb00;
    --black: #000;
    --red-orange: #ff4000;
    --white: #f5f5f5;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.rounded {
    border-radius: 10px;
}

#logo {
    border-radius: 100%;
    height: 70px;
}


nav {
    display: flex;
    padding: 13px 0 3px;
    margin: 0 10%;
    justify-content:space-around;
}

.navbar-button {
    color: #000;
    font-size:x-large;
    text-align: center;
    padding: 10px 50px;
    transition-property: background-color;
    transition-duration: 0.25s;
    background-color: var(--green);
    border-radius: 10px 50%;
} 

.navbar-button:hover {
    background-color: var(--darker-green);
}

.line {
    width: 90%;
    height: 5px;
    background-color: var(--black);
    margin: 2.5% 5%;
    border-radius: 2.5px;
}


aside {
    display: inline-flex;
    background-color: var(--blue);
    width: 12vw;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

aside > * {
    margin: 0;
}

main {
    display: inline-flex;
    vertical-align: top;
    width: 78vw;
    height: 80vh;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 2%;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--darker-blue);
    height: fit-content;
    width: 100%;
    color: var(--white);
}

footer > h2 {
    margin: auto 3%;
}
footer > input {
    margin-top: 10px;
}

thead {
    width: 100%;
    color: var(--green);
}

tbody > tr:first-child {
    color: var(--darker-green);
}

tbody > tr:last-child {
    color: var(--red-orange);
}

tfoot {
    color: var(--blue);
    text-decoration: underline overline line-through wavy var(--orange);

}

#drawing-area {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr) ;
    width: 78vw;
    height: 65vh;
    margin: 1.5%;
    background-color: var(--white);
    border: gray 4px solid;
}

#drawing-area > div {
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    overflow: hidden;
}

.item-spawner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
}

#student-seat {
    background-color: var(--orange);
}

#teacher-desk {
    background-color: var(--red-orange);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

.buttons {
    background-color: var(--green);
    width: 20vh;
    max-width: 100%;
    height: fit-content;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: black 2px 2px;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

.buttons:hover {
    background-color: var(--darker-green);
}

.saves-dropdown {
    position: relative;
    display: inline-block;
}

.saves-dropdown-content {
    display: none;
    position: static;
    background-color: var(--darker-green);
    border: 1px solid var(--black);
    min-width: 100px;
    min-height: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: block;
}


#saved-classes-container {
    display: inline-flex;
    flex-direction: column;
    background-color: #009efa;
    height: 75vh;
    margin: 0 7%;
}

#create-class-form {
    background-color: var(--blue);
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    align-items: start;
}

#create-class-form > * {
    margin: 1%;
    max-width: 97%;
}

#delete-class {
    background-color: #fa0000;
    display: none;
}


@media screen and (max-width: 1000px) {
    nav {
        margin: 0;
        flex-wrap: wrap;
    }
    aside {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
    }
    main {
        width: 100%;
    }
    #drawing-area {
        width: 95%;
        margin: 0;
    }
    #saved-classes-container {
        display: none;
    }
}